<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
	<styleBundle path="~/Content/css">
		<include path="~/Content/bootstrap.css" />
		<include path="~/Content/Site.css" />
	</styleBundle>
	<styleBundle path="~/Content/fontawesome">
		<include path="~/Content/fontawesome/css/fontawesome.css" />
		<include path="~/Content/fontawesome/css/brands.css" />
		<include path="~/Content/fontawesome/css/solid.css" />
	</styleBundle>
</bundles>